<header id="header-1">
    <div class="headerWrap-1">
        <nav class="navbar-1">
            <!-- TOP LEFT PAGE TEXT  -->
            <div class="top-location">
                <span class="info-txt">Kennedy Caddesi No:42, </span>
                <span class="info-txt">Fatih, İstanbul </span>
            </div>
            <!-- TOP RIGHT PAGE TEXT  -->
            <div class="book-now">
                <span class="info-txt">Rezervasyon</span>
                <span class="info-txt">+212-489-1234</span>
            </div>

            <!-- MOBILE BUTTON NAV  -->
            <div class="nav-button-holder nav-btn-mobile inactive">
                <span class="menu-txt">Menü</span>
                <button type="button" class="nav-button">
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="nav-content-1">
                <!-- LOGO -->
                <div class="logo-1"><a href="index.html"><img class="img-fluid" src="/dina-html/images/logo-dina-white.png" alt="" /></a></div>
                <!-- MENU -->
                <div class="nav-holder nav-holder-1 nav-holder-desktop">
                    <ul id="menu-menu-1" class="menu-nav menu-nav-1">

                        <li class="menu-item"><a href="/Menu/Index/">Ana Sayfa</a></li>
                        <li class="menu-item"><a href="/Menu/Index/">Menü</a></li>
                        <li class="menu-item"><a href="/Reservation/Index/">Rezervasyon</a></li>
                        <li class="menu-item"><a href="/Category/Index/">Kategoriler</a></li>
                        <li class="menu-item"><a href="/Review/Index/">Bize Yazın</a></li>

                    </ul>
                </div>
                <!-- /MENU -->

            </div>
        </nav>
    </div>
    <!--headerWrap-->
</header>